
.footer .app-logos {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.footer .app-logos img {
    height: 40px;
}

.row{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
    flex-wrap: wrap;
}
.footer{
    width: 100%;
    background: rgb(155, 180, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 20px;
    flex-direction: column;
    
}

.top, .bottom{
    width: 98%;
    margin: 0 auto;
}

.row .col div{
    font-size: 25px;
    font-weight: 600;
    color: rgb(24, 92, 24); 
    margin-bottom: 20px;
    position : relative;
}

.row .col .heading::before {
    content: '';
    position : absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    box-sizing: border-box;
    background-color: #000000;
    width: 50px;
}

.row .col .left_header{
    font-size: 25px;
    font-weight: 500;
    color:black; 
    margin-bottom: 20px;
    font-size: 20px;
}

.row .col .left_header h2 i{
    font-size: 30px;
    font-weight: 800;
    color: rgb(24, 92, 24);
    margin-right: 10px;
}

.row .col ul li{
    list-style: none;
    margin: 10px 0;
}

.row .col ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: all 0.3s ease;
}
.row .col ul li a:hover{
    color: white;
    padding-left: 8px;
}

.socialIcon{
    margin-top: 10px;
    display: flex;
}

.socialIcon a{
    color: black;
    padding: 0 10px;
    font-size: 25px;
    transition: all 0.5s ease;
}

.socialIcon a:hover{
    color: white;
}

