body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    height: 80px;
    background: rgb(155, 180, 155);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}

.header .left_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .left_header h2 {
    margin-top:  5px;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .left_header h2 i {
    font-size: 30px;
    font-weight: 800;
    color: rgb(24, 92, 24);
    margin-right: 10px;
}

.right_header .navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    gap: 30px;
}

.right_header .navigation li {
    display: flex;
    align-items: center;
}

.right_header .navigation li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 16px;
    transition: color 0.3s ease;
}

.right_header .navigation li a:hover, .right_header .navigation i:hover {
    color: white;
}

.right_header .navigation .donate-button {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(24, 92, 24);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.right_header .navigation .donate-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.right_header .navigation .donate-button i{
    color: rgb(247, 96, 96);
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search-bar input {
    padding: 5px 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 380px; 
}

.search-bar button {
    padding: 5px 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: rgb(24, 92, 24);
    color: #fff;
    cursor: pointer;
}

.search-bar button i {
    font-size: 1em;
}

.search-bar button:hover{
    background-color: #218838;
    transform: scale(1.05);
}

.right_header .navigation {
    font-size: 30px;
}